* {
  display: none
}
nav{
  display: none;
  flex-direction: column;
  align-items: center;
  flex-flow: column;
  background-color: lightblue;      
}
nav ul li{
  display:inline-flex;
  list-style: none;
  display: none
}
